<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email</title>
</head>
<body>
    <h2>Nuevo pedido de la tienda online {{ tienda }}</h2>
    <p>Pedido Nª: {{ numero }}</p>
    <p>Fecha: {{ fecha }}</p>
    <p>Articulos: </p>
    <ul>
        <li>Articulo 1</li>
        <li>Articulo 2</li>
        <li>Articulo 3</li>
    </ul>
    <footer>
        <span>Tienda OnLine generada por PRAGMASOFT</span>
    </footer>
</body>
</html>